@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsla(var(--background));
  --color-foreground: hsla(var(--foreground));
  --color-accent: hsla(var(--accent));
  --color-card: hsla(var(--card));
  --color-card-foreground: hsla(var(--card-foreground));
  --color-border: hsla(var(--border));
  --color-primary: hsla(var(--primary));
  --color-primary-foreground: hsla(var(--primary-foreground));
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --accent: 0 0% 91%;
  --card: 360 100% 100% / 0.4;
  --card-foreground: 240 10% 3.9%;

  /* hsla(240 6 5 ) */
  --border: 240 5.9% 47%;
  --primary: 0 0 99%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --background: 240 10% 3%;
  --foreground: 0 0% 98%;

  --accent: 0 0% 6.7%;
  --card: 360 100% 100% / 0.01;
  --card-foreground: 0 0% 98%;
  /* hsla(240 3.7 40 / 1) */
  --border: 240 3.7% 20.9%; 
  --primary: 240 10 0%;
  --primary-foreground: 240 5.9% 10%;
}

html{
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
  scroll-behavior: smooth;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}

.ComponentHomeView{
  @apply bg-foreground/6 rounded-xl p-25 text-background
}

h1{
  font-size:1.875rem;
}

div{
  font-size:1.1rem;
}