@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-accent: hsl(var(--accent));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --accent: 0 0% 91%;
  --card: 360 100% 100% / 0.4;
  --card-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --primary: 195 100% 15.8%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --background: 240 10% 3%;
  --foreground: 0 0% 98%;
  --accent: 0 0% 6.7%;
  --card: 360 100% 100% / 0.01;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --primary: 195 59.6% 82.9%;
  --primary-foreground: 240 5.9% 10%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}

.ComponentHomeView{
  @apply bg-foreground/10
}

h1{
  font-size:1.875rem;
}

div{
  font-size:1.1rem;
}